<!DOCTYPE html>
<html>
  <head>
    <title>ExamAngelesaldunate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
      <a class="navbar-brand abs" <%= link_to "Home", root_path, :class => 'navbar-link' %></a>

    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Cart",  :class => 'navbar-link' %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to current_customer.name, edit_customer_registration_path, :class => 'navbar-link' %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %> </a>
          </li>

        <% else%>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Sign up", new_customer_registration_path,:class => 'navbar-link' %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Login",new_customer_session_path, :class => 'navbar-link' %></a>
          </li>
        <%end %>
      </ul>
    </div>
  </nav>
  <div class="container">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>ra
    <% end %>

    <%= yield %>

  </div>
  </body>
</html>
